<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <material name="green">
        <color rgba="0 0.5 0 1"/> <!-- green color in rgba-->
    </material>

    <material name="blue">
        <color rgba="0 0 0.5 1"/> <!-- blue color in rgba-->
    </material>

    <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/> <!-- green color in rgba-->
    </material>

    <xacro:macro name="box_inertia" params="mass lenght width height xyz_origin rpy_orgin">
        <intertial>
            <origin xyz="${xyz_origin}" rpy="${rpy_orgin}"/>
            <mass value="${mass}"/>
            <inertia 
            ixx="${(mass/12)*(width**2 + height**2)}" ixy="0" ixz="0" 
            iyx="0" iyy="${(mass/12)*(lenght**2 + height**2)}" iyz="0" 
            izx="0" izy="0" izz="${(mass/12)*(lenght**2 + width**2)}"/>
        </intertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="mass radius height xyz_origin rpy_orgin">
        <intertial>
            <origin xyz="${xyz_origin}" rpy="${rpy_orgin}"/>
            <mass value="${mass}"/>
            <inertia 
            ixx="${(mass/12)*(3*radius**2 + height**2)}" ixy="0" ixz="0" 
            iyx="0" iyy="${(mass/12)*(3*radius**2 + height**2)}" iyz="0" 
            izx="0" izy="0" izz="${(mass/2)*radius**2}"/>
        </intertial>
    </xacro:macro>

    <xacro:macro name="sphere_inertia" params="mass radius xyz_origin rpy_orgin">
        <intertial>
            <origin xyz="${xyz_origin}" rpy="${rpy_orgin}"/>
            <mass value="${mass}"/>
            <inertia 
            ixx="${(2*mass*radius**2)/5}" ixy="0" ixz="0" 
            iyx="0" iyy="${(2*mass*radius**2)/5}" iyz="0" 
            izx="0" izy="0" izz="${(2*mass*radius**2)/5}"/>
        </intertial>
    </xacro:macro>


</robot>