<?xml version="1.0" encoding="UTF-8"?>
<robot name="mosro" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:property name="model_height" value="0.96"/>
    <xacro:property name="wheel_radius" value="0.1"/>
    <xacro:property name="wheel_length" value="0.1"/>

    <link name="base_footprint">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </visual>
    </link>

    <link  name="base_link">
        <visual>
            <origin xyz="0 0 ${model_height}" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://my_robot_description/meshes/mosro.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>

    <joint name="footprint_to_base_link_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="right_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="${pi/2.0} ${pi/2.0}  0"/>
            <geometry>
                <cylinder radius="${wheel_radius}" length="${wheel_length}"/> <!-- in meters |  20cm radius | 20cm height -->
            </geometry>
        </visual>
    </link>

    <joint name="base_link_right_wheel_joint" type="fixed">
        <parent link="base_link"/>
        <child link="right_wheel_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="left_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="${pi/2.0} ${pi/2.0}  0"/>
            <geometry>
                <cylinder radius="${wheel_radius}" length="${wheel_length}"/> <!-- in meters |  20cm radius | 20cm height -->
            </geometry>
        </visual>
    </link>

    <joint name="base_link_left_wheel_joint" type="fixed">
        <parent link="base_link"/>
        <child link="left_wheel_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

</robot>